/*----------------Propiedades en común----------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #e52520;
    --secondary-color: #f8f3e3;
    --third-color: #edc02c;
    --black-color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
}

/*header*/

header{
    background-color: var(--secondary-color);
}

li{
    list-style: none;
}

a{
    color: var(--black-color);
    text-decoration: none;
    font-weight: 700;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-logo{
    width: 125px;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: var(--main-color);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black-color);
    border-radius: 40px 40px;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        background-color: var(--main-color);
    }.hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--main-color);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--secondary-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

/*hero-img section*/
/*-----------------sección index/home------------------------------*/
.hero-container{
    background-image: url(img/dog-young-boy.jpg);    
    width: 100%;    
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(75%);
    display: flex;
    justify-content: start;
    align-items: center;

}

.hero-header{
    padding: 100px 50px;
    width: 400px;
}

.hero-title{
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
    font-size: 2rem;
}

.hero-paragraph{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 1rem;
    font-weight: 700;
}

.rectangle{
    display: block;
    width: 8px;
    height: 100%;
    margin: 5px auto;
    background-color: var(--main-color);
}

/*carousel section*/

.carousel-container{
    margin: 50px 50px;
    display: flex;
}

.carousel{
    width: 100%;
}

.carousel h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: var(--black-color);
}

.carousel h2 span{
    color: var(--main-color);
}

.carousel p{
    text-align: center;
    margin-bottom: 20px;
    color: var(--black-color);
    font-weight: 700;
}

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 350px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.slick{
    position: relative;
    width: 275px;
    padding: 0 20px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 18px;
    line-height: 23px;
    color: white;
    padding: 15px;
    text-shadow: var(--black-color) 2px 3px 5px;
}

.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    filter: contrast(75%);
}

.slick a img:hover{
    opacity: 0.85;
}

.slick-arrow{
    border-radius: 30px;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 0;
    cursor: pointer;
}

.slick-arrow:focus{
    outline: 0;
}

.slick-arrow i{
    font-size: 1.5rem;
    color: var(--black-color);
}

.slick-prev{
    right: 0px;
}

.slick-next{
    left: 0px;
}

/*process section*/

.process-container{
    background-color: var(--secondary-color);
    padding: 50px;
}

.process-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.process-header p:nth-child(1){
    background-color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 120px;
    height: 20px;
    text-align: center;
    color: var(--black-color);
}

.process-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 150px;
    margin-bottom: 10px;
}

.process-text h2{
    font-size: 2rem;
    color: var(--black-color);
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
}

.process-text p{
    width: 500px;
    font-weight: 600;
    color: var(--black-color);
}

.cards-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card{
    position: relative;
    width: 400px;
    height: 500px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(75%);
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    font-weight: 900;
    padding-left: 20px;
}

.card .front p{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: white;
    font-size: 1.5rem;
    padding-left: 20px;
    font-weight: 600;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #2e2e2e;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

.heart:before, .heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: var(--main-color); 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

.heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

.process-button{
    display: flex;
    margin: 30px;
}

.process-btn{
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.process-btn:hover{
    background-color: var(--black-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
}

/*donation section*/

.donation-container{
    background-image: url(img/5ee940de7e05c2.jpg);
    width: 100%;
    
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

.donation-card{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin: 50px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.donation-card h2{
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
    font-size: 2rem;
    color: var(--black-color);
}

.donation-card p{
    font-weight: 600;
    color: var(--black-color);
}

.donation-btn{
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.donation-btn:hover{
    background-color: var(--black-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
}

/*goals container*/

.goals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;  
}

.goals-cards-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}

.goals-card{
    position: relative;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    transition: 0.5s ease-in-out;
    padding: 10px;
}

.goals-card:hover{
    transform: translateY(20px);
}

.goals-card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(0,0,0,1));
    z-index: 1;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;
}

.goals-card:hover::before{
    opacity: 1;
}

.goals-card img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(75%);
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.goals-text{
    position: relative;
    opacity: 0;
    z-index: 3;
    color: white;
    transition: 0.5s all;
}

.goals-card:hover .goals-text{
    opacity: 1;
    transform: translateY(0px);
}

.goals-text p{
    margin: 5px 0px;
}

.goals-text .goals-btn{
    text-decoration: none;
    color: var(--main-color);
}




/*footer*/

footer{
    width: 100%;
    position: absolute;
    padding: 2rem 8%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo{
    width: 125px;
    margin-bottom: 1rem;
}

.footer-item{
    margin: 5px 0px;
}

.social-icons-container, .footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon .fa-brands{
    height: 25px;
    width: 50px;
    font-size: 1.25rem;
    color: var(--black-color);
    transition: 0.5s ease;
}

.social-icon .fa-brands:hover{
    height: 25px;
    width: 50px;
    color: var(--main-color);
}

.footer-link{
    margin: 1rem 1.5rem;
    transition: 0.5s ease;
}

.footer-link:hover{
    color: var(--main-color);
}

.copyright{
    color: var(--black-color);
    opacity: 0.8;
    text-align: center;
}

/*-----------------sección contactanos------------------------------*/

.main{
    margin-top: 0;
    height: 70%;
    width: 100%;
}

.main1{   
    background-image: url(img/img_contactanos3.png)  ;  
    /*background-size:contain,cover;*/
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;    
    opacity: 0.9; 
}

.contactame{
    padding: 5% 0;
}

.containerc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;  
    margin-left: 2%;
    margin-right: 2%;
}



.colc1{
    align-items: center;
    justify-content: center;
    display: flex;
    padding:1%;    
    margin-bottom: 10%;
    order: 1;  
    flex-basis: 100%;
    height: 300px  ;   
}



.colc2{
   
    padding: 2%;
    order: 2;
    flex-basis: 100%;
    height: 300px; 
    text-align: justify;
    overflow:hidden;
}


@media screen and (min-width:768px) {
    .containerc {
      flex-wrap: nowrap;
    }
    .colc1 {
      flex-basis: 200px;
      order: 1;
    }
    .colc2 {      
        flex-basis: 1;
        order: 2;
        margin-bottom: 40px;
        text-align: justify;
    }    
}

.formu{
    margin-top: 10px;
    padding: 2%;
    width: 100%; 
}

.to{
    padding: 2px;
    margin-top: 1%;
    width: 60%;     
    border-radius: 5px;
    width: 100%;
}

.textMail,.textNombre,.textBox,.textTel{    
    padding: 2px;
    margin-top: 1%;
    width: 60%;
    border-radius: 5px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-style: italic;
    opacity: 0.7;   
}

.label_form{
    display: inline-block;
    width: 60px;    
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem;
    -webkit-text-stroke: 0.3px gray;
}

#submit{
    margin-top: 15px;
    background-color: aqua;
    width: 120px;
    height: 30px;
    border-radius: 8%;  
}

@media screen and (max-width: 1060px) {
    .textBox, .textTel, .textMail,.textNombre {
      width: 100%;
      margin-top: 5px;
    }
    #submit{
        width: 20%;
        margin-left: 40%;
    }
    .textC{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.5vw;        
        color:var(--main-color);
        background-color: white;
        opacity: 0.8;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        padding: 2%; 
      }
      .colc2{
        overflow: visible;
        margin-bottom: 160%;
        margin-left: 5%;
        margin-right: 5%;
                 
      }
      .address{
        background-color: white;
        opacity: 0.8;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 2%;
      }
  }


  #submit:hover{
    background-color: coral;
    transition: 0.6s;
  }

  .textC{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: white;
    opacity: 0.8;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 2%;
    color:var(--main-color);
  }

  .address{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: white;
    opacity: 0.8;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 2%;
  }
  .envio{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    
  }
  label.fcontacto{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    font-style: normal;
    
  }

  .formularioc{
    background-color: white;
    opacity: 0.8;
    border-radius: 3px;
    padding: 2%; 
    margin-left: 5%;
    margin-right: 5%; 
  }



